

<div class="row search">
  <div class="col-md-6 col-md-3">
    <h2>Search for a flight</h2>

      <%= form_with(model: @flight, method: :get) do |f| %>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text center">
          <%= f.label :departure_airport_id, "Departure Airport" %>
          <%= f.select(:departure_airport_id, options_for_select(@airports, @departure), class: "form-control") %>
        </div>
         <div class="col-md-4 col-md-offset-2 text center">
          <%= f.label :arrival_airport_id, "Arrival Airport" %>
          <%= f.select(:arrival_airport_id, options_for_select(@airports, @arrival), class: "form-control") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text-center">
          <%= f.label :departure_date, "Departure Date" %>
          <%= f.select(:departure_date, options_for_select(@dates, @departure_date), class: "form-control") %>
        </div>
        <div class="col-md-4 col-md-offset-2 text-center">
          <%= f.label :passengers, "Number of passengers" %>
          <%= f.select(:passengers, options_for_select(@passenger_selection, @passengers), class: "form-control") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= f.submit "Search", class: "form-control btn btn-primary" %>
        </div>
      </div>
      <% end %>
  </div> 
</div>


<% unless @flights.empty? %>
  <%= form_tag new_booking_path, method: :get do %>
    <div class="row" id="form-flight">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Flight ID</th>
              <th>Departure</th>
              <th>Arrival</th>
              <th>Date</th>
              <th>Arrival Time</th>
            </tr>
          </thead>
          <tbody>
            <% @flights.each do |f| %>
              <tr>
                <td><%= radio_button_tag(:flight_id, flight.id ,class: "flight-selection")%></td>
                <td><%= f.id %></td>
                <td><%= f.departure_airport.abbreviation %></td>
                <td><%= f.arrival_airport.abbreviation %></td>
                <td><%= f.departure_date("%d/%m/%Y") %></td>
                <td><%= f.arrival_date("%d/%m/%Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
                <%= hidden_field_tag(:passengers, params[:passengers]) %>
                <%= submit_tag "Select Flight", class: "btn btn-success col-md-4 col-md-offset-8" %>
      </div>
    </div>
  <% end %>
<% end %>